<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" data-ng-controller="HeaderController">
    <!-- Brand -->
    <div class="navbar-header">
        <a class="navbar-brand" href="/#!/">{{name}}</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">

        <!-- ALERTS -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/#!/">
                <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts"></ul>
            <!-- /.dropdown-alerts -->
        </li>

        <!-- USER  -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/#!/">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user"></ul>
        </li>
    </ul>
</nav>